<div class="container">
    <!-- <div class="jumbotron">
        <a href="fb://page/du0bl0gger/addfan">Like Our Page </a>
    </div> -->
    <div class="fb-like" data-href="https://www.facebook.com/du0bl0gger/" data-width="300" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    <br>
</div>
<hr>

<!-- <div class="container">
    <a href="https://gplinks.in/ref/asifthen00b"><img src="https://image.ibb.co/k5dBB8/468x60.png" title="Make short links and earn the biggest money" style="width: 100%;" /></a>
    <div class="text-center"><h3 style="color: red;"><b>Earn $10 Per Day !!!</b></h3></div>

</div> -->
<!-- <hr> -->
{% comment %} <div class="container">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- box square -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8949878373616356"
        data-ad-slot="9779029708"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> {% endcomment %}
<div class="container">
    <div class="jumbotron">
        <h4 class="text-center" id="h1_for_my_title"><b>Authors</b></h4>
        <hr> 
        <a   id="h1_for_my_title" href="https://www.facebook.com/ahnaf.shahriar.7121" target="_blank"><b>Ahnaf Shahriar Asif (6 Posts)</b></a>
        <hr>
        <a  id="h1_for_my_title" href="https://www.facebook.com/HBKWasi" target="_blank"><b>Munim Hasan Wasi (3 Posts)</b></a>

    </div>
</div>

{% comment %} <div class="container">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- box square -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8949878373616356"
        data-ad-slot="9779029708"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> {% endcomment %}

<div class="container">
    <div class="jumbotron">
        <h4 class="text-center" id="h1_for_my_title"><b>Category</b></h4><hr>
        {%- capture site_tags -%}
        {%- for tag in site.tags -%}
            {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
        {%- endcapture -%}
        {%- assign tags_list = site_tags | split:',' | sort -%}
        
        {%- for tag in tags_list -%}
            <!-- <a id="button-tag" href="#{{- tag -}}" class="btn btn-primary" ></i>&nbsp;{{- tag -}}&nbsp;({{site.tags[tag].size}})</a> -->
            
            <!-- <div class="dropdown">
                <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                {{- tag -}}&nbsp;({{site.tags[tag].size}})
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div> -->
            <h6 id="h1_for_my_title"><b>{{- tag -}}&nbsp;({{site.tags[tag].size}})<b></h6>
            {%- for post in site.tags[tag] -%}
                <div class="tag-entry">
                    <a class="" id="taglist" href="{{ post.url | relative_url }}">{{- post.title -}}</a>
                    <!-- <div class="entry-date">
                        <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: site.date_format -}}</time>
                    </div> -->
                </div>  
            {%- endfor -%}
            <hr>
        {%- endfor -%}
    </div>
    <!-- <div class="text-center"><h2 style="color: red;"><b>Earn $10 Per Day !!!</b></h2></div> -->

    <!-- <a href="https://gplinks.in/ref/asifthen00b"><img src="https://image.ibb.co/hspF4T/900x250.png" title="Make short links and earn the biggest money" style="width: 100%;" /></a> -->
    <!-- <b class="" style="color: red;">Earn $10 Per Day !!!</b> -->
    <!-- <div class="text-center"><h2 style="color: red;"><b>Earn $10 Per Day !!!</b></h2></div> -->
    
    <!-- SIDEBAR ADDS STARTING HERE  -->

    {% comment %} <div class="row">
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <hr>
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <hr>
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-md-6">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- vertical ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8949878373616356"
                 data-ad-slot="8601679401"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div> {% endcomment %}
    <!-- SIDEBAR AD ENDS HERE -->
</div>
