<!DOCTYPE html>

<html>

{% include head.html %}

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
  {% include navbar.html %}

  {% include sitename.html %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- small -->
<ins class="adsbygoogle"
     style="display:inline-block;width:700px;height:50px"
     data-ad-client="ca-pub-8949878373616356"
     data-ad-slot="2420480090"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="row">
        <div class="col-md-1">
         
        </div>
        <div class="col-md-7">
            {{ content }}
        </div>
        <div class="col-md-4">
            <!-- <div class="affix"> -->
            {% include sidebar.html %} 
            <!-- </div>        -->
        </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}


</body>

</html>
