---
layout: main
---

<div class="single-content">
    <h2 class="single-h2"> {{page.title}}</h2>
    <h5 class="single-h5">
        Written by {{page.author}} on {{ page.date | date: '%B %d, %Y' }}
    </h5>
    <span id="single-categories" class="single-category">
        {% for cat in page.categories %}
        {{cat}} {% unless forloop.last %},{% endunless %}
        {% endfor %}
    </span>
    <br />
    <h3><button class="btn {{page.Difficulty}}">{{page.Difficulty}} Difficulty</button></h3>
    <br />
    <div class="fb-like" data-href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}" data-width=""
        data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
    <!--  -->
    <br />
    <br><br>
    <hr />
    <div class="page-content">
        {{ content }}

        {% for post in site.posts%}
        {% if post.tags[0]==page.tags[0] and post.title != page.title %}
        <br><br>
        <h3>একই ক্যাটাগরির নিচের পোস্ট(গুলি) পড়ে দেখতে পারো:</h3>
        {% break %}
        {% endif %}
        {% endfor %}
        <br>
        <ol>
            {% for post in site.posts%}
            {% if post.tags[0]==page.tags[0] and post.title != page.title %}
            <li><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{post.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
        <!-- <br><br> -->

        <!-- <h3>একই Difficulty এর বাকি পোস্টগুলোর লিস্ট দিয়ে দিচ্ছি, পড়ে দেখতে পারো:</h3> -->

        {% for post in site.posts%}
        {%  if post.tags[0] != page.tags[0] and post.title != page.title and page.Difficulty == post.Difficulty  %}
        <br><br>
        <h3>একই Difficulty এর বাকি পোস্টগুলোর লিস্ট দিয়ে দিচ্ছি, পড়ে দেখতে পারো:</h3>
        {% break %}
        {% endif %}
        {% endfor %}

        <br>
        <ol>
            {% for post in site.posts%}
            {% if post.tags[0] != page.tags[0] and post.title != page.title and page.Difficulty == post.Difficulty %}
            <li><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{post.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>